<li class="dropdown">
    <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">Admin</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Genre" asp-action="Index">Genre</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Condition" asp-action="Index">Condition</a></li>
        <li><a class="dropdown-item" asp-area="Admin" asp-controller="Book" asp-action="Index">Book</a></li>
        <div class="dropdown-divider">
        </div>
        @* <li><a class="dropdown-item" href="#">Media Type</a></li>*@
    </ul>
</li>