@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">The Enid Bennett High School <br />
   Book Rental System</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<hr>
<br />

<div class="text-center">
   
    <img src="~/images/Enid-Bennett-High.jpg" class="rounded" alt="School Logo" style="width:75%"/>
    
</div>